body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
.blue-color{color:orange;
}
.margin{
  border-left: 5px solid;
  border-image: linear-gradient(black,red);
  border-image-slice: 1;
}
.orange-color{
  color: blue;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{width: 50%;
  padding-left: 5%;
}
.half-width img{
width: 70%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(rgba(151, 73, 73, 0.836),rgb(138, 124, 97));
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.Becom-color{
  color: coral;
}

.black-color{
  color:rgb(88, 3, 3);
}

.my-mission{
  text-align: center;
  color: rgb(168, 13, 13);
}
.mission-color{
  color: darkblue;
}
.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(83, 197, 83);
  
}
.img-pic{
  width: 40%; 
  padding-left: 5%;
}

#web-dev{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
  background-color: wheat;
}
#stack-dev{
  border-left: 7px solid;
  border-image: linear-gradient(red,rgb(235, 232, 231)) ;
  border-image-slice: 1;
  background-color: white;
}
#Goals-dev{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(22, 22, 24),cyan);
  border-image-slice:1 ;
  background-color: cyan;
}
footer h3 {
  text-align: center;
  
}
.color-footer{
  color: rgb(194, 65, 65);
}
footer p{
  text-align: center;
}
footer{
  background-color:rgb(21, 21, 48);
}
.white{
  color: white;
}